.header{
background-color:black;
width:110%;
top:-10px;
height:60px;
color: white;
position:fixed;
margin-left:-13px;
}

.intro{
   color: white;
}

.in{
background-color:black;
width:510%;
height:280%;
position:absolute;
top:-10px;
margin-left:-13px;
}
